nae-isams-process-api/bin/src/main/mule/nae-isams-process-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1657f1b7-c3ca-4b4e-bdb9-50cdbb180832" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="invoke-isams-sys-api-calls" doc:id="c8849978-dee9-4dec-b14b-8be93ef902e4" >
		<flow-ref doc:name="Flow Reference" doc:id="2c7fe4ba-2039-41d2-98e8-f3382d669fdf" name="loggerStartSubFlow" />
		<set-variable value="#[vars.apiKey]" doc:name="Set apiKey" doc:id="02786414-f1d7-4e5d-9ab6-d57469375398" variableName="apiKey" />
		<set-variable value="#[p(vars.apiKey)]" doc:name="Set SchoolCode" doc:id="c347db62-49f8-4057-bce2-284b58c7b33d" variableName="schoolCode"/>
		<set-variable value="#[vars.apiKey as String ++ '.ref']" doc:name="Set Variable" doc:id="801c95d2-8251-4901-a2aa-74212388d0b3" variableName="schoolRefKey"/>
		<set-variable value="#[p(vars.apiKey as String ++ '.ref')]" doc:name="Set Variable" doc:id="ab945331-f1ec-4112-9e28-615f209c32b9" variableName="schoolRef"/>
		<flow-ref doc:name="Flow Reference" doc:id="566b41da-e978-415e-acf2-a6623fefd974" name="loggerInProgressSubFlow"/>
		<db:stored-procedure doc:name="Stored procedure" doc:id="11e3a572-af46-4608-8e01-0d4db5fb514e" config-ref="Database_Config">
			<db:sql >{ CALL [dbo].[sp_Set_Batch_Status] }</db:sql>
		</db:stored-procedure>
		<scatter-gather doc:name="Scatter-Gather" doc:id="c70deb87-2567-4cff-9752-d6dd88937b77" >
			<route >
				<flow-ref doc:name="get-pupilmanager-data-from-isams-sys" doc:id="f96eba38-79da-44a6-b2da-96e514eff78b" name="get-pupilmanager-data-from-isams-sys" />
			</route>
			<route >
				<flow-ref doc:name="get-hrmanager-data-from-isams-sys" doc:id="023211cc-2a9e-4475-b26f-64f7d662cb9b" name="get-hrmanager-data-from-isams-sys" />
			</route>
			<route >
				<flow-ref doc:name="get-schoolmanager-data-from-isams-sys" doc:id="eda902ec-bcbe-446f-ac16-33104d7c1f12" name="get-schoolmanager-data-from-isams-sys" />
			</route>
			<route >
				<flow-ref doc:name="get-teachingmanager-data-from-isams-sys" doc:id="d6d94ddd-a514-4bdc-a62d-0112db31533d" name="get-teachingmanager-data-from-isams-sys" />
			</route>
		</scatter-gather>
		<db:stored-procedure doc:name="Stored procedure" doc:id="991b2361-436e-4a14-b86c-78b8bf6dce60" config-ref="Database_Config">
			<db:sql >{ CALL [dbo].[sp_Master_Merge_Load] }</db:sql>
		</db:stored-procedure>
		<logger level="INFO" doc:name="Logger" doc:id="a50abd62-b095-476a-a21c-b0ecb79800cc" message="School Load Completed : #[now()]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="a7183e06-620f-4e60-b06e-72d25be393d5" >
				<flow-ref doc:name="Flow Reference" doc:id="bf6d2cf8-5871-4110-9b13-0fa93a33ebc1" name="loggerErrorSubFlow"/>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="nae-isams-process-db-status-Flow" doc:id="34bf7c4d-6560-4225-a911-d4bd44b238d0" >
		<vm:listener queueName="${ars.queue}" doc:name="Listener" doc:id="c05cc3c2-45ff-4716-97a0-ee105314774a" config-ref="VM_Config"/>
		<flow-ref doc:name="Flow Reference" doc:id="a68e11fd-aa63-4e3a-9e10-ace37147fc9b" name="loggerStartSubFlow"/>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="0bc6911d-1798-4696-83a4-076bce0ce163" variableName="apiKey"/>
		<db:select doc:name="Select" doc:id="752422bb-3aeb-465a-8a5e-feb61aa34d3b" config-ref="Database_Config">
			<db:sql >Select TOP(1) BatchStatus FROM [DBO].[BatchControl] ORDER BY ID DESC; </db:sql>
		</db:select>
		<flow-ref doc:name="Flow Reference" doc:id="bf9fc52a-f2ef-4d49-9ef1-da55e132dc6a" name="loggerInProgressSubFlow"/>
		<choice doc:name="Choice" doc:id="f328bf9e-d7f5-4fea-a5ce-18fffebf37c0" >
			<when expression='#[lower(payload[0].BatchStatus) != "complete"]'>
				<logger level="INFO" doc:name="Logger" doc:id="db80b223-67d7-44ba-8822-2a9788703909" message="inside loop"/>
				<flow-ref doc:name="invoke-isams-sys-api-calls" doc:id="503870d6-8390-4135-ba8a-521142ee901f" name="invoke-isams-sys-api-calls"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="468cc277-7aed-4dc0-a9e1-e22608b5ab86" message="loop"/>
				<scripting:execute doc:name="Wait for db process" doc:id="7c460862-4d37-4b5d-b85b-c330294f6538" engine="groovy">
					<scripting:code >Thread.sleep(${wait.time})
return message</scripting:code>
				</scripting:execute>
				<logger level="INFO" doc:name="Logger" doc:id="1140fbe8-a75a-40a9-abfc-21f9df2c0e22" message="db process is not complete delaying the process...."/>
				<set-payload value="#[vars.apiKey]" doc:name="Set Payload" doc:id="27232fb9-2bab-4329-8eb3-683210ed4e64" />
				<vm:publish queueName="${ars.queue}" doc:name="Publish" doc:id="fc81f142-a134-4d94-9f9d-3cee0940d464" config-ref="VM_Config" />
				<flow-ref doc:name="Flow Reference" doc:id="eb404109-84cd-48ec-84c9-43881da8e163" name="loggerCompleteSubFlow"/>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="97cfba5f-b049-4e77-bfdb-20bafcabff8b" >
				<flow-ref doc:name="Flow Reference" doc:id="57575b7d-63c5-4876-b549-6131fd5ff153" name="loggerErrorSubFlow"/>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="nae-isams-process-ars-apiFlow" doc:id="715f6212-9f26-4d97-a44f-51c971fa071d" >
		<scheduler doc:name="Scheduler" doc:id="3cd16d89-8573-408b-bccc-62323b56148b" >
			<scheduling-strategy >
				<cron expression="${isams.ars.school.frequency}" />
			</scheduling-strategy>
		</scheduler>
		<flow-ref doc:name="Flow Reference" doc:id="5c83c388-fda1-4db7-b2d9-518dc053c54b" name="loggerStartSubFlow"/>
		<logger level="INFO" doc:name="Logger" doc:id="3630aa75-0a99-436a-a593-d843f2cd2c07" message="Starting the Scheduler : #[now()]"/>
		<set-payload value="${ars.api.key}" doc:name="Set Api Key" doc:id="419e8c59-d0ff-4e39-8d09-ccfa35f29c2b" />
		<vm:publish doc:name="Publish" doc:id="4dbd4070-9e0b-4300-9aab-987d94558d7a" config-ref="VM_Config" queueName="${ars.queue}"/>
		<flow-ref doc:name="Flow Reference" doc:id="fa942ab6-5484-49c4-bf7a-6a71d56f7fa3" name="loggerCompleteSubFlow"/>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="dd2fc97d-4c5c-40ab-af1a-76753b30fad3" >
				<flow-ref doc:name="Flow Reference" doc:id="02e1d21b-c0ee-40fe-b662-c9229937cb59" name="loggerErrorSubFlow"/>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="nae-isams-process-cbs-apiFlow" doc:id="656f62f5-a3e7-4c72-8792-2fe9a233d1b7" >
		<scheduler doc:name="Scheduler" doc:id="f41fb662-04d2-47b2-a531-a6d862402051" >
			<scheduling-strategy >
				<cron expression="${isams.cbs.school.frequency}" />
			</scheduling-strategy>
		</scheduler>
		<flow-ref doc:name="Flow Reference" doc:id="6f0711f4-97d1-4927-83dd-ff792b29cf54" name="loggerStartSubFlow"/>
		<logger level="INFO" doc:name="Logger" doc:id="6ab733c6-4510-4422-9423-d960088057f9" message="Starting the Scheduler : #[now()]"/>
		<set-payload value="${cbs.api.key}" doc:name="Set Api Key" doc:id="9d22494b-b19b-4fe0-a7b9-c4e3a0ad6d2f" />
		<vm:publish queueName="${ars.queue}" doc:name="Publish" doc:id="8d736aa4-6671-4dac-849f-2e3707ea2186" config-ref="VM_Config" />
		<flow-ref doc:name="Flow Reference" doc:id="6165a931-a2fc-4f2c-8c13-6032d398bae5" name="loggerCompleteSubFlow" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="67da5df5-d277-424e-b008-88e8492f446d" >
				<flow-ref doc:name="Flow Reference" doc:id="7cbcf724-8463-44dc-8408-62df6fd18ec5" name="loggerErrorSubFlow"/>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
